{% extends "Dashboard/base_0.html" %}



      <!-- Heading -->

      {% block slidebar %}
          {% block button_dashboard %}
              <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Graficas:</h6>
                <a class="collapse-item" href="{% url 'generalDashboard' %}">General</a>
                <a class="collapse-item" href="{% url 'gestion' %}">Puntaje</a>
                <a class="collapse-item" href="{% url 'gestionC' %}">Categorización</a>
              </div>
            </div>
          </li>

           {% endblock %}
          <!-- Divider -->
      <hr class="sidebar-divider">

          <!-- Heading -->

          <!-- Nav Item - Charts -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grafic' %}" >
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Cubos</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">


          {% if request.user.groups.all.0.name == "admin" %}
          <div class="sidebar-heading">
            ADMIN
          </div>
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'subir' %}" >
              <i class="fas fa-upload"></i>
              <span>Agregar Año</span></a>
          </li>
          {% endif %}
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle" ></button>
          </div>
      {% endblock %}
